* { 
    margin: 0;
    padding: 0;
    font-family: system-ui;
}
body {
    background: linear-gradient(#75C1C9,#BF47C8);
    background-repeat: no-repeat;
    height: 140vh;
    
}
.container {
    background: url('images/stars1.png');
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
 img {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center ;
    margin:  auto;
    opacity: 0.8;
    transition: 1s;
    animation-name: move;
    animation-duration: 2.3s;
    animation-iteration-count: infinite;
    margin-bottom: -150px;
    animation-timing-function: linear;
    animation-direction: alternate;
    
  
}
@keyframes move{
   0% {
        transform: scale(0.7);
    }

    100% {
        transform: scale(1);
        
    }
}
img:hover {
transform: scale(1.1);

}
ul {
    text-align: center;
    z-index: 3;
    position: relative;
}
ul:hover a {
    opacity: 0;
}
ul li {
    list-style: none;
    margin:  14px 0;
}

ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 4px;
    background: #9b37a2;
    padding: 6px 12px;
    border-radius: 100px;
    text-transform: uppercase;
    display: block;
    position: relative;
    z-index: 10;
}
ul li a:hover {
    transform: scale(1.3);
    background: #5199a1;
    opacity: 1;
}
ul li::after
{
    content: attr(data-text);
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    font-size: 70px;
    opacity: 0;
pointer-events: none;
z-index: -1;
letter-spacing: 50px;
transition: 0.5s;
}
ul li:hover:after {
    opacity: 0.8;
    letter-spacing: 3px;
}
ul li::before {
    content: '';
    width: 120px;
    height: 80px;
    border-radius: 50%;
    background-color: #FFF;
    left: 50%;
    top: 130%;
    transform: translate(-50%,95%);
    position: absolute;
    box-shadow: 0 0 80px orangered;
    opacity: 0;
    transition: 0.5s;
    pointer-events: none;
    
}
ul li:hover::before {
    opacity: 0.5;
    box-shadow: 0 0 50px 40px orangered;
    width: 80px;
    top: 50%;
}
.container ul li:hover:nth-child(5)::after{
  top: 45%;
  
}